<div class="container">
    
  <h1> About Me:</h1>   
  <a href="#"> <img src="./assets/images/MohammadWahiduzzzaman.jpg" alt="profile photo " style="float:top left;" border="black"; border="3" "The border is 3;"></a>
  <p>
          <!DOCTYPE html>
          <html>
            <head>
              <title>Title of the document</title>
            </head>
            <body>
              <p>I was interested in Software Engineering since long but was not able to decide to admit in college. During the pandemic, i decided
                to give it a try. So fat it has been fun, learning new aspect of the knowledge that i had no idea before.
                I already have learned C#, Linux, Database, HTML, Web Design. It is time focus more in practicing the skills that i have learned.
              </p>
              <h1> My Resume </h1>
              <iframe src="./assets/images/Resume_MohammadWahiduzzaman.pdf" width="100%" height="750px">
              </iframe>
            </body>
          </html>