<div class="container">
  <body>
    <h1>
      <%= title %>
    </h1>
    <p>
    Address: 
    <br>111 My Building Avenue,</br>
    Toronto, M4M 4M4,
    ON, Canada. 
    <br> Mobile: +1 678 678 6789</br>
    Email: mwahidshamim@gmail.com 
   </p>
   

  </div>
   
</body>