<div class="container">   
    
  <!--Created by: Mohammad Wahiduzzaman, Created on 10/10/2021-->
<html lang="en">
  <head>
  <title>Mohammad's Home Page </title>
  <meta charset="utf-8">
  <style type="text/css">
  .newStyle1 {
      text-decoration: none;
  }
  </style>
  </head>

  <body >
      
  <h1> Welcome to My WORLD! </h1>
  <main>
  <p>Hi there! 
  <br>This is Mohammad Wahiduzzman. I started my journey of studying Software Engineering Technology at Centennail
  College from Fall 2020 and hopefully i will finish this program in 2023.</br> 
  </p>
  <p>This program is teaching us a lot of courses. But following are my favourites courses:</p>

  <p>
  <ul>
  <li>Programming in C# </li>
  <li>Database Management </li>
  <li> Web App Development  </li>
  <li>Java Programming </li>
  <li>Linux System Administrator </li>
  
  </ul>
  </p>

  
  

  </main>
  <hr style="border-style:solid;border-color:olive;border-width:2px;">
      
  </body>

</html>

</div>