<!DOCTYPE html>
<html>
  <head>
    <title>Title of the document</title>
  </head>
  <body>
    <body >
        
      <h1> Projects </h1>
         <main>
      
            <p>The following projects are under construction: </p>
  
      <p>
      <ul>
      <li>Portfolio Management </li>
      <li>Courier App </li>
     
      
      </ul>
      </p>
  
      
      
   
      </main>
      <hr style="border-style:solid;border-color:olive;border-width:2px;">
          
      </body>
  </body>
</html>