<div class="container">
  <h1>
   We will provide the following Services: 
  </h1>
  
  <p>
     <ul>
       <li>Programming in C# </li>
      <li>Database Management </li>
      <li> Web App Development  </li>
      <li>Java Programming </li>
      <li> Game development</li>
      <li>Linux System Administrator </li>
    </ul>
  </p>
</div>